:root {
  font-family: __LexendFont_7838d2, __LexendFont_Fallback_7838d2;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 1);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 20px 100px;
}


@media (max-width: 900px) {

  body {
    padding: 0 20px;
  }
}